@counter-style: #FFB6C1;
@borderRadius: .3125rem;

/* 患者端登录 */

.logo {
    text-align: center;
    width: 6.25rem;
    margin: 2.5rem auto; // margin-top: 1.25rem;
    img {
        width: 70%;
    }
}

.login {
    div {
        text-align: center;
        margin: 1.25rem;
        position: relative;
        input {
            width: 100%;
            height: 1.875rem;
            border: .0625rem solid #ececec;
            border-radius: @borderRadius;
            padding-left: 1.875rem;
            padding-right: .625rem;
            box-sizing: border-box;
        }
        p {
            width: 100%;
            margin: auto;
        }
        .add-on {
            position: absolute;
            line-height: 1.8rem;
            width: 1.5625rem;
            text-align: center;
            background: @counter-style;
            color: #fff;
            border-top-left-radius: @borderRadius;
            border-bottom-left-radius: @borderRadius;
        }
    }
}

.forgot_password {
    text-align: right;
    margin: .625rem 1.25rem;
    a {
        width: 100%;
        margin: auto;
    }
}

.register_btn,
.login_btn {
    margin: 1.25rem 1.25rem 0;
    button {
        width: 100%;
        height: 1.875rem;
        background-color: @counter-style;
        color: #fff;
        border-radius: @borderRadius;
    }
}

.login_modal_content {
    text-align: center;
    color: #666;
    border-radius: @borderRadius;
    padding: 1.25rem .9375rem;
    box-sizing: border-box;
}


/* 患者端注册 */

.icon-mobile-phone {
    font-size: .875rem;
}

.register {
    padding: .625rem;
    div {
        position: relative;
        label {
            font-size: .75rem;
            display: block;
            margin-bottom: .625rem;
        }
        #upload_file {
            width: 6.25rem;
            height: 6.25rem;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }
    }
    .upload_case {
        border: .0625rem solid #ececec;
        // border-bottom: .0625rem solid #ececec;
        padding: .625rem 0;
        border-radius: .625rem;
        .upload_file {
            display: flex;
            flex-wrap: wrap;
        }
        a {
            width: 6.25rem;
            height: 6.25rem;
            display: inline-block;
            position: relative;
            border: .125rem dotted #ececec;
            box-sizing: border-box;
            &::before {
                content: '';
                position: absolute;
                width: .3125rem;
                height: 3.75rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ececec;
                border-radius: @borderRadius;
            }
            &::after {
                content: '';
                width: 3.75rem;
                height: .3125rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ececec;
                border-radius: @borderRadius;
            }
        }
        .upload_ {
            width: 100%;
        }
        .upload_btn {
            // overflow: hidden;
            // margin: .625rem;
            padding: .625rem .625rem 0 .625rem;
        }
        .upload_img {
            overflow: hidden;
            width: 6.25rem;
            height: 6.25rem;
            margin: auto;
            padding: .625rem;
            box-sizing: border-box;
            border: .125rem dotted #ececec;
            img {
                width: 100%;
            }
        }
    }
    .input_text {
        margin: .625rem 0;
        input {
            width: 100%;
            height: 1.875rem;
            border: .0625rem solid #ececec;
            border-radius: @borderRadius;
            padding-left: 1.875rem;
            padding-right: .625rem;
            box-sizing: border-box;
        }
        .add-on {
            position: absolute;
            line-height: 1.88rem;
            width: 1.5625rem;
            text-align: center;
            background: @counter-style;
            color: #fff;
            border-top-left-radius: @borderRadius;
            border-bottom-left-radius: @borderRadius;
        }
    }
    .medical_history {
        margin-top: .625rem;
        textarea {
            width: 100%;
            padding: .3125rem;
            box-sizing: border-box;
            border: .0625rem solid #ececec;
        }
        p {
            text-align: right;
            font-size: .625rem;
        }
    }
    .surgery_checked {
        padding-right: 1.25rem;
    }
}

section .register_btn {
    margin: 1.25rem .625rem;
}


/* 患者端详情 */

.content_detail {
    box-sizing: border-box;
    ul>li {
        border-bottom: 1px solid #ececec;
        padding: .625rem;
        span {
            &:first-child {
                width: 33%;
                text-align: left;
                display: inline-block;
            }
            &:last-child {
                width: 65%;
                text-align: left;
                display: inline-block;
            }
        }
        .w {
            padding: 0;
        }
        textarea {
            width: 100%;
            padding: .3125rem;
            box-sizing: border-box;
            border: none;
        }
    }
    p {
        padding: .625rem;
    }
    .sufferer_img {
        text-align: center;
        img {
            width: 80%;
        }
    }
}


/* 患者端答教 */

.chat,
.vist,
.quiz {
    text-align: center;
    margin: .625rem .3125rem;
    h2 {
        color: #fff;
        background-color: @counter-style;
        padding: .1875rem;
        border-radius: @borderRadius;
    }
}

.content_quiz {
    margin: .625rem;
    ul {
        padding: .625rem 0;
        border-bottom: .0625rem solid #ececec;
        box-sizing: border-box;
        li {
            &:first-child {
                margin-bottom: .625rem;
            }
            .doctor_reply,
            .aq_preson {
                padding: .3125rem 0;
                span {
                    &:first-child {
                        width: 1.875rem;
                        height: 1.875rem;
                        line-height: 1.875rem;
                        background-color: #096;
                        color: #fff;
                        display: inline-block;
                        text-align: center;
                    }
                    &:last-child {
                        color: #096;
                        font-size: .75rem;
                    }
                }
            }
            .doctor_reply>span {
                &:first-child {
                    background-color: #5c9cb7;
                }
                &:last-child {
                    color: #5c9cb7;
                    font-size: .75rem;
                }
            }
            .content_text {
                display: flex;
                font-size: .625rem;
                p {
                    width: 100%;
                    padding: .3125rem .625rem;
                    box-sizing: border-box;
                }
            }
            .content_text>span {
                &:first-child {
                    width: 87%;
                    display: block;
                    padding: 0 .625rem;
                    box-sizing: border-box;
                }
                &:last-child {
                    width: 1.875rem;
                    height: 1.875rem;
                    line-height: 1.875rem;
                    background-color: @counter-style;
                    color: #fff;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}


/* 患者端关爱讲堂 */

.content {
    .content_classroom {
        ul {
            margin: .625rem;
            li {
                padding: .625rem 0;
                box-sizing: border-box;
                border-bottom: .0625rem solid #ececec;
                a {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

.btn_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .btn_bottom {
        display: flex;
        justify-content: center;
        height: 2.1875rem;
        line-height: 2.1875rem;
        background-color: #ffe9ec;
        button {
            width: 50%;
            border-radius: @borderRadius;
            margin: 0 .3125rem .3125rem;
            background-color: @counter-style;
            a {
                color: #fff;
            }
            &:last-child {
                background-color: #ececec
            }
        }
    }
}


/* 患者端复诊情况 */

.content_vist {
    margin: .625rem;
    .vist_progress,
    .vist_input {
        display: flex;
        padding: .625rem 0;
        box-sizing: border-box;
        border-bottom: .0625rem solid #ececec;
        line-height: .8125rem;
        label {
            display: block;
        }
        .radio {
            span {
                vertical-align: middle;
                padding: 0 .3125rem;
                box-sizing: border-box;
            }
        }
    }
    .radio_input {
        box-sizing: border-box;
        border-bottom: .0625rem solid #ececec;
        padding-bottom: .625rem;
        span {
            margin-right: .625rem;
        }
    }
    .vist_other {
        padding: .625rem 0;
        box-sizing: border-box;
        label {
            display: block;
        }
        textarea {
            width: 100%;
            border: .0625rem solid #ececec;
        }
    }
    .vist_progress {
        input {
            margin-right: .625rem;
        }
    }
    .vist_btn {
        button {
            width: 100%;
            height: 1.875rem;
            background-color: @counter-style;
            color: #fff;
            border-radius: @borderRadius;
        }
    }
}

.footer_vist {
    position: fixed;
    bottom: 0;
    width: 100%;
    .doctor_advice {
        height: 2.5rem;
        display: flex;
        box-sizing: border-box;
        background-color: #fff;
        .advice {
            background-color: @counter-style;
            color: #fff;
            padding: 0 .625rem;
            box-sizing: border-box;
            text-align: center;
            p {
                line-height: 1.25rem;
            }
        }
        .record {
            position: relative;
            padding-left: 1.25rem;
            width: 100%;
            p {
                font-size: .625rem;
            }
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1.25rem;
                font-size: 1.5625rem;
                color: @counter-style;
            }
        }
    }
}


/* 患者端即时通讯 */

.content_chat_scoll {
    padding-top: 1.875rem;
    padding-bottom: 6.25rem;
    box-sizing: border-box;
}

.content_chat {
    .content_text {
        box-sizing: border-box;
        border-bottom: none;
        margin: .3125rem;
        margin-bottom: 0;
        padding: .625rem;
        div {
            margin: .3125rem 0;
            a {
                border: .0625rem solid #ececec;
                box-sizing: border-box;
                position: relative;
                display: inline-table;
            }
            img {
                height: 1.875rem;
                width: 1.875rem;
            }
            span {
                max-width: 60%;
                font-size: .6875rem;
                border-radius: @borderRadius;
                background-color: #b2e281;
                padding: .3125rem;
                box-sizing: border-box;
                color: #000;
                align-items: baseline;
            }
        }
        .right_text {
            display: flex;
            justify-content: flex-end;
            span {
                text-align: left;
                margin-right: .3125rem;
            }
            a {
                &:before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: .3125rem solid transparent;
                    border-left: .625rem solid #b2e281;
                    border-bottom: .3125rem solid transparent;
                    position: absolute;
                    top: 50%;
                    left: -.6rem;
                    transform: translateY(-50%)
                }
            }
        }
        .left_text {
            display: flex;
            justify-content: flex-start;
            span {
                text-align: left;
                margin-left: .3125rem;
                background-color: #fff;
                border: 1px solid #f5f0f0;
            }
            a {
                &:before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: .3125rem solid transparent;
                    border-right: .625rem solid #fff;
                    border-bottom: .3125rem solid transparent;
                    position: absolute;
                    top: 50%;
                    right: -.7rem;
                    transform: translateY(-50%)
                }
            }
        }
    }
}

.footer_chat {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff6f6;
    .send {
        display: flex;
        justify-content: space-between;
        padding: .3125rem .625rem;
        box-sizing: border-box;
        background: #f1f1f1;
        .button {
            button {
                padding: .3125rem .625rem;
                background-color: @counter-style;
                text-align: center;
                box-sizing: border-box;
                border-radius: @borderRadius;
                color: #fff;
            }
        }
        .input {
            width: 80%;
            input {
                width: 100%;
                height: 1.5625rem;
                padding: .3125rem;
                box-sizing: border-box;
                border: 1px solid #ececec;
                border-radius: .1875rem;
            }
        }
    }
    .chat_member {
        .file_download {
            display: flex;
            justify-content: space-between;
            padding: .3125rem .625rem;
            box-sizing: border-box;
            border-bottom: .0625rem solid #ececec;
            p {
                line-height: 1.25rem;
            }
            button {
                padding: .3125rem .625rem;
                background-color: @counter-style;
                text-align: center;
                box-sizing: border-box;
                border-radius: @borderRadius;
                color: #fff;
            }
        }
        .member {
            display: flex;
            padding: .625rem;
            box-sizing: border-box;
        }
    }
}