/* 患者端登录 */
.logo {
  text-align: center;
  width: 6.25rem;
  margin: 2.5rem auto;
}
.logo img {
  width: 70%;
}
.login div {
  text-align: center;
  margin: 1.25rem;
  position: relative;
}
.login div input {
  width: 100%;
  height: 1.875rem;
  border: .0625rem solid #ececec;
  border-radius: 0.3125rem;
  padding-left: 1.875rem;
  padding-right: .625rem;
  box-sizing: border-box;
}
.login div p {
  width: 100%;
  margin: auto;
}
.login div .add-on {
  position: absolute;
  line-height: 1.8rem;
  width: 1.5625rem;
  text-align: center;
  background: #FFB6C1;
  color: #fff;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
.forgot_password {
  text-align: right;
  margin: .625rem 1.25rem;
}
.forgot_password a {
  width: 100%;
  margin: auto;
}
.register_btn,
.login_btn {
  margin: 1.25rem 1.25rem 0;
}
.register_btn button,
.login_btn button {
  width: 100%;
  height: 1.875rem;
  background-color: #FFB6C1;
  color: #fff;
  border-radius: 0.3125rem;
}
.login_modal_content {
  text-align: center;
  color: #666;
  border-radius: 0.3125rem;
  padding: 1.25rem .9375rem;
  box-sizing: border-box;
}
/* 患者端注册 */
.icon-mobile-phone {
  font-size: .875rem;
}
.register {
  padding: .625rem;
}
.register div {
  position: relative;
}
.register div label {
  font-size: .75rem;
  display: block;
  margin-bottom: .625rem;
}
.register div #upload_file {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.register .upload_case .upload_file {
  display: flex;
  justify-content: center;
}
.register .upload_case a {
  display: inline-block;
  position: absolute;
  font-size: 1.55rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ececec;
}
.register .upload_case .upload_ {
  width: 100%;
}
.register .upload_case .upload_btn {
  width: 5.25rem;
  height: 5.25rem;
  margin: auto .3125rem;
  border: .125rem dotted #ececec;
  box-sizing: border-box;
  position: relative;
}
.register .upload_case .upload_img {
  overflow: hidden;
  width: 5.25rem;
  height: 5.25rem;
  margin: auto .3125rem;
  padding: .625rem;
  box-sizing: border-box;
  border: .125rem dotted #ececec;
}
.register .upload_case .upload_img img {
  width: 100%;
}
.register .input_text {
  margin: .625rem 0;
}
.register .input_text input {
  width: 100%;
  height: 1.875rem;
  border: .0625rem solid #ececec;
  border-radius: 0.3125rem;
  padding-left: 1.875rem;
  padding-right: .625rem;
  box-sizing: border-box;
}
.register .input_text .add-on {
  position: absolute;
  line-height: 1.88rem;
  width: 1.5625rem;
  text-align: center;
  background: #FFB6C1;
  color: #fff;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
.register .medical_history {
  margin-top: .625rem;
}
.register .medical_history textarea {
  width: 100%;
  padding: .3125rem;
  box-sizing: border-box;
  border: .0625rem solid #ececec;
}
.register .medical_history p {
  text-align: right;
  font-size: .625rem;
}
.register .surgery_checked {
  padding-right: 1.25rem;
  font-size: .6875rem;
}
.register .non_surgical_checked {
  font-size: .6875rem;
}
section .register_btn {
  margin: 1.25rem .625rem;
}
/* 患者端详情 */
.content_detail {
  box-sizing: border-box;
}
.content_detail ul > li {
  border-bottom: 1px solid #ececec;
  padding: .625rem;
}
.content_detail ul > li span:first-child {
  width: 33%;
  text-align: left;
  display: inline-block;
}
.content_detail ul > li span:last-child {
  width: 65%;
  text-align: left;
  display: inline-block;
}
.content_detail ul > li .w {
  padding: 0;
}
.content_detail ul > li textarea {
  width: 100%;
  padding: .3125rem;
  box-sizing: border-box;
  border: none;
}
.content_detail p {
  padding: .625rem;
}
.content_detail .sufferer_img {
  text-align: center;
}
.content_detail .sufferer_img img {
  width: 80%;
}
/* 患者端答教 */
.chat,
.vist,
.quiz {
  text-align: center;
  margin: .625rem .3125rem;
}
.chat h2,
.vist h2,
.quiz h2 {
  color: #fff;
  background-color: #FFB6C1;
  padding: .1875rem;
  border-radius: 0.3125rem;
}
.content_quiz {
  margin: .625rem;
}
.content_quiz ul {
  padding: .625rem 0;
  border-bottom: .0625rem solid #ececec;
  box-sizing: border-box;
}
.content_quiz ul li:first-child {
  margin-bottom: .625rem;
}
.content_quiz ul li .doctor_reply,
.content_quiz ul li .aq_preson {
  padding: .3125rem 0;
}
.content_quiz ul li .doctor_reply span:first-child,
.content_quiz ul li .aq_preson span:first-child {
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #096;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.content_quiz ul li .doctor_reply span:last-child,
.content_quiz ul li .aq_preson span:last-child {
  color: #096;
  font-size: .75rem;
}
.content_quiz ul li .doctor_reply > span:first-child {
  background-color: #5c9cb7;
}
.content_quiz ul li .doctor_reply > span:last-child {
  color: #5c9cb7;
  font-size: .75rem;
}
.content_quiz ul li .content_text {
  display: flex;
  font-size: .625rem;
}
.content_quiz ul li .content_text p {
  width: 100%;
  padding: .3125rem .625rem;
  box-sizing: border-box;
}
.content_quiz ul li .content_text > span:first-child {
  width: 87%;
  display: block;
  padding: 0 .625rem;
  box-sizing: border-box;
}
.content_quiz ul li .content_text > span:last-child {
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background-color: #FFB6C1;
  color: #fff;
  display: inline-block;
  text-align: center;
}
/* 患者端关爱讲堂 */
.content .content_classroom ul {
  margin: .625rem;
}
.content .content_classroom ul li {
  padding: .625rem 0;
  box-sizing: border-box;
  border-bottom: .0625rem solid #ececec;
}
.content .content_classroom ul li a {
  display: flex;
  justify-content: space-between;
}
.btn_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn_footer .btn_bottom {
  display: flex;
  justify-content: center;
  height: 2.1875rem;
  line-height: 2.1875rem;
  background-color: #ffe9ec;
}
.btn_footer .btn_bottom button {
  width: 50%;
  border-radius: 0.3125rem;
  margin: 0 .3125rem .3125rem;
  background-color: #FFB6C1;
}
.btn_footer .btn_bottom button a {
  color: #fff;
}
.btn_footer .btn_bottom button:last-child {
  background-color: #ececec;
}
/* 患者端复诊情况 */
.content_vist {
  margin: .625rem;
}
.content_vist .vist_progress,
.content_vist .vist_input {
  display: flex;
  padding: .625rem 0;
  box-sizing: border-box;
  border-bottom: .0625rem solid #ececec;
  line-height: .8125rem;
}
.content_vist .vist_progress label,
.content_vist .vist_input label {
  display: block;
}
.content_vist .vist_progress .radio span,
.content_vist .vist_input .radio span {
  vertical-align: middle;
  padding: 0 .3125rem;
  box-sizing: border-box;
}
.content_vist .radio_input {
  box-sizing: border-box;
  border-bottom: .0625rem solid #ececec;
  padding-bottom: .625rem;
}
.content_vist .radio_input span {
  margin-right: .625rem;
}
.content_vist .vist_other {
  padding: .625rem 0;
  box-sizing: border-box;
}
.content_vist .vist_other label {
  display: block;
}
.content_vist .vist_other textarea {
  width: 100%;
  border: .0625rem solid #ececec;
}
.content_vist .vist_progress input {
  margin-right: .625rem;
}
.content_vist .vist_btn button {
  width: 100%;
  height: 1.875rem;
  background-color: #FFB6C1;
  color: #fff;
  border-radius: 0.3125rem;
}
.footer_vist {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer_vist .doctor_advice {
  height: 2.5rem;
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
}
.footer_vist .doctor_advice .advice {
  background-color: #FFB6C1;
  color: #fff;
  padding: 0 .625rem;
  box-sizing: border-box;
  text-align: center;
}
.footer_vist .doctor_advice .advice p {
  line-height: 1.25rem;
}
.footer_vist .doctor_advice .record {
  position: relative;
  padding-left: 1.25rem;
  width: 100%;
}
.footer_vist .doctor_advice .record p {
  font-size: .625rem;
}
.footer_vist .doctor_advice .record i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem;
  font-size: 1.5625rem;
  color: #FFB6C1;
}
/* 患者端即时通讯 */
.content_chat_scoll {
  padding-top: 1.875rem;
  padding-bottom: 6.25rem;
  box-sizing: border-box;
}
.content_chat .content_text {
  box-sizing: border-box;
  border-bottom: none;
  margin: .3125rem;
  margin-bottom: 0;
  padding: .625rem;
}
.content_chat .content_text div {
  margin: .3125rem 0;
}
.content_chat .content_text div a {
  border: .0625rem solid #ececec;
  box-sizing: border-box;
  position: relative;
  display: inline-table;
}
.content_chat .content_text div img {
  height: 1.875rem;
  width: 1.875rem;
}
.content_chat .content_text div span {
  max-width: 60%;
  font-size: .6875rem;
  border-radius: 0.3125rem;
  background-color: #b2e281;
  padding: .3125rem;
  box-sizing: border-box;
  color: #000;
  align-items: baseline;
}
.content_chat .content_text .right_text {
  display: flex;
  justify-content: flex-end;
}
.content_chat .content_text .right_text span {
  text-align: left;
  margin-right: .3125rem;
}
.content_chat .content_text .right_text a:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: .3125rem solid transparent;
  border-left: .625rem solid #b2e281;
  border-bottom: .3125rem solid transparent;
  position: absolute;
  top: 50%;
  left: -0.6rem;
  transform: translateY(-50%);
}
.content_chat .content_text .left_text {
  display: flex;
  justify-content: flex-start;
}
.content_chat .content_text .left_text span {
  text-align: left;
  margin-left: .3125rem;
  background-color: #fff;
  border: 1px solid #f5f0f0;
}
.content_chat .content_text .left_text a:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: .3125rem solid transparent;
  border-right: .625rem solid #fff;
  border-bottom: .3125rem solid transparent;
  position: absolute;
  top: 50%;
  right: -0.7rem;
  transform: translateY(-50%);
}
.footer_chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff6f6;
}
.footer_chat .send {
  display: flex;
  justify-content: space-between;
  padding: .3125rem .625rem;
  box-sizing: border-box;
  background: #f1f1f1;
}
.footer_chat .send .button button {
  padding: .3125rem .625rem;
  background-color: #FFB6C1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  color: #fff;
}
.footer_chat .send .input {
  width: 80%;
}
.footer_chat .send .input input {
  width: 100%;
  height: 1.5625rem;
  padding: .3125rem;
  box-sizing: border-box;
  border: 1px solid #ececec;
  border-radius: .1875rem;
}
.footer_chat .chat_member .file_download {
  display: flex;
  justify-content: space-between;
  padding: .3125rem .625rem;
  box-sizing: border-box;
  border-bottom: .0625rem solid #ececec;
}
.footer_chat .chat_member .file_download p {
  line-height: 1.25rem;
}
.footer_chat .chat_member .file_download button {
  padding: .3125rem .625rem;
  background-color: #FFB6C1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  color: #fff;
}
.footer_chat .chat_member .member {
  display: flex;
  padding: .625rem;
  box-sizing: border-box;
}
